<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/ifbp-element/lib/theme-default/index.css">
</head>
<body>
  <div id="app">
    <el-button @click="aa = true">按钮</el-button>
    <el-dialog v-model="aa" title="Hello world">
      <p>欢迎使用 Element</p>
    </el-dialog>
  </div>
</body>
  <!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/ifbp-element/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { a: false }
      }
    })
  </script>
</html>