<html>

<head>
  <title>测试</title>
  <script type="text/javascript">
    var NowImg = 1;//表示当前显示的div
    var MaxImg = 5;//表示div的个数
    function show() {
      for (var i = 1; i <= MaxImg; i++) {
        if (NowImg == i)
          document.getElementById("div" + NowImg).style.display = 'block';//当前显示的div
        else
          document.getElementById("div" + i).style.display = 'none';
      }
      if (NowImg == MaxImg)//判断当前div是否是最后一个，如果是则从第一个重新轮回显示
        NowImg = 1;
      else
        NowImg++;//设置下一个显示的图片
    }
    theTimer = setInterval("show()", 1000);//设置定时器，显示下一个图片，10000表示每间隔10秒，可以改的。。。
  </script>
</head>

<body onload="show()">
  <div>
    <div id="div1" style="display:block;">
      <img src="file:///C:/Users/Administrator/Desktop/1.png" />
    </div>
    <div id="div2" style="display:none;">
      <img src="file:///C:/Users/Administrator/Desktop/2.jpg" />
    </div>
    <div id="div3" style="display:none;">
      <img src="file:///C:/Users/Administrator/Desktop/3.png" />
    </div>
    <div id="div4" style="display:none;">
      <img src="file:///C:/Users/Administrator/Desktop/4.jpg" />
    </div>
    <div id="div5" style="display:none;">
      <img src="file:///C:/Users/Administrator/Desktop/5.jpg" />
    </div>
  </div>

</body>

</html>