<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="vue.js"></script>
    <style>
        #canvas {
            width: 500px;
            height: 500px;
            text-align: center;
            line-height: 500px;
            border: 1px solid #E5E5E5;
            margin: 0 auto;
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id='canvas' @mousemove='updateXY' @click="address(x,y)">
            {{x}} {{y}}
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                x: 0,
                y: 0
            },
            methods: {
                updateXY: function (event) {
                    this.x = event.offsetX;
                    this.y = event.offsetY
                },
                address(a,b){
                    alert(a+","+b);
                    
                }
            }
        })
    </script>
</body>

</html>